<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxiaoyu.cms.dao.LikeMapper">
	<resultMap id="BaseResultMap"
		type="com.zhangxiaoyu.cms.domain.Article">
		<id column="uid" property="User_id" jdbcType="INTEGER" />
		<result column="aid" property="Article_id " jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List_Article">
		id, title, picture, channel_id, category_id, user_id, hits,
		hot, status,
		deleted,
		created, updated
	</sql>
	<sql id="Base_Column_List_User">
		id, username, password, nickname, birthday, gender, locked, create_time,
		update_time,
		role
	</sql>

	<insert id="insert">
		insert into conllection set
		User_id = #{uid},
		Article_id = #{aid}
	</insert>

	<select id="select" resultMap="BaseResultMap">
		select * from `cms_user` u inner join `conllection` c
		on u.`id`=c.`User_id` inner join `cms_article` a
		on c.`Article_id` = a.`id` where c.`User_id`=#{uid}
	</select>
</mapper>